<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/microsoft.png" width="30" height="30" alt="MSFT">
      Cert Manager
    </a>
    <ul class="nav nav-pills mr-auto">
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="ca" routerLinkActive="active">Certificate Authorities</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="users" routerLinkActive="active">Users</a>
      </li>
    </ul>
    <span class="navbar-text" *ngIf="user.current">{{user.current.givenName}} {{user.current.familyName}}</span>
  </div>
</nav>

<div class="container mt-3">
  <router-outlet></router-outlet>
</div>